.navbar navbar-expand-sm bg-light{
    background-color: rgb(8, 10, 6);
}

.Fh {
    font-family:'Trebuchet MS';
    font-size: 300%;
}

.lemons {
    font-family: 'Lucida Sans Unicode';
    font-size: 150%;
}

.nav {
    font-family: Arial;
    font-weight: bold;
    font-size: 120%;
}

.fuenteArial {
    font-family: Arial;
}

.Kursiva {
    font-style: italic;
}
.imagen{
    height: 250px !important;
    width: 250px !important;
}
@media (min-width: 576px) and (max-width: 767px) {
    .publish > form{
       flex-direction: column;
       display: flex;
    }
    .publish > form > div{
       height: 50px;
       margin-top: 10px;
    }
    .publish > form > div > input{
       height: 50px;
       margin-top: 10px;
    }
    main{
       margin-top: 130px;
    }
   }
   
   /** dispositivos medianos (tablets) */
   @media (min-width: 768px) and (max-width: 991px) {
     
   }
   
   /** dispositivos grandes (desktops) */
   @media (min-width: 992px) and (max-width: 1199px) {
     
   }
   
   /** dispositivos extra grandes (monitores grandes, tvs) */
   @media (min-width: 1200px) {
     
   }


